.container {
  height: 100%;
  display: flex;
  flex: 1;
}
.calendarIcon {
  height: 155px;
  width: 140px;
  object-fit: contain;
  margin: 0 15px;
}
.top {
  display: flex;
}

.input {
  border: 1px solid var(--black) !important;
}
