.rbc-time-slot {
  z-index: 1;
  background-color: #888;
}
.rbc-event {
  z-index: 10;
  position: relative;
  background-color: #bea087 !important;
}
.rbc-today {
  background-color: #dcc38b4d;

  .rbc-time-slot {
    background-color: #dcc38b4d !important;
  }
}
.rbc-off-range-bg {
  background-color: #e6e7cf;
}
