/* DateTimePicker.css */
.date-time-picker {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-size: 16px;
  font-weight: bold;
}

.react-datepicker-wrapper {
  display: flex;
  flex-direction: column;
}

.react-datepicker__input-container {
  width: 100%;
}

.react-datepicker__input-container input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.react-datepicker__header {
  background-color: #f7f7f7;
  border-bottom: 1px solid #ccc;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: #000;
}

.react-datepicker__day--selected {
  background-color: #007bff;
  color: #fff;
}

.react-datepicker__day--selected:hover {
  background-color: #0056b3;
}

.react-datepicker__day--keyboard-selected {
  background-color: #007bff;
  color: #fff;
}

.react-datepicker__day--keyboard-selected:hover {
  background-color: #0056b3;
}

.react-datepicker__time-container {
  border-top: 1px solid #ccc;
  margin-top: 10px;
}

.react-datepicker__time-container .react-datepicker__time {
  list-style: none;
  padding: 0;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item {
  width: 25%;
  cursor: pointer;
  text-align: center;
  padding: 6px 0;
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item:hover {
  background-color: #007bff;
  color: #fff;
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item--selected {
  background-color: #007bff;
  color: #fff;
}

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list
  li.react-datepicker__time-list-item--selected:hover {
  background-color: #0056b3;
}
