@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary: #3399ee;
  --white: #ffffff;
  --black: #000000;
  --blue: #165076;
  --lightBlue: #3399ee;
  --gray: #9b9b9b;
  --lightGray: #6d6d6d;
  --textColor: #01355b;
  --yellow: #ffb736;
  --overlayColor: #e5e5e5;
  --green: #8edb7b;
  --red: #ff6868;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.color-purple {
  color: #ce3df3;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#root {
  width: 100%;
  max-height: 100svh;
  height: 100%;
}
.rbc-agenda-view {
  overflow: auto !important;
}
